body {
    background-color: gray;
}
#flex {
    display: flex;
    flex-direction: row;
}

nav {
    background-color: #ececec;
}
main {
    background-color: #ffffff;
}
hl {
    color: gray;
}
#test{
    color: green;
}
